.medium-padding { padding: 0.5rem; }
.medium-margin-bottom { margin-bottom: 0.5rem; }
.table-style { width: 100%; table-layout: fixed; border-collapse: collapse; }
.th-td-style { text-align: left; background-color: #f4f6f9; border: 1px solid #d9d9d9; word-wrap: break-word; }
.th-style { width: 10%; }
.td-style { width: 10%; }
.explanation-style { width: 80%; }
.flex-center { display: flex; align-items: center; justify-content: start; }
.icon-margin { margin-right: 5px; }
